/* 
// Examples Stylesheet
// -------------------
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 1em;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 100;
  margin: 0.5em 0;
}
label {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}
.hint {
  margin: 15px 0;
  font-style: italic;
  color: #999;
}
.post {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #999;
  margin: 15px 0;
  padding: 10px 15px;
}
.post h2,
.post .react-upvote {
  display: table-cell;
  vertical-align: middle;
}
.post h2 {
  width: 100%;
  margin-top: 0;
}
.react-upvote {
  width: 60px;
  line-height: 32px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.react-upvote-icons,
.react-upvote .upvote-count {
  display: inline-block;
  vertical-align: middle;
}
.react-upvote .downvote,
.react-upvote .upvote {
  line-height: 1;
  cursor: pointer;
}
.react-upvote.downvoted .downvote-icon,
.react-upvote.upvoted .upvote-icon {
  color: #f00;
}
.react-upvote .upvote-count {
  margin-left: 10px;
}
.error {
  color: #f00;
}
